# Formatação para editar local, ignorar esse arquivo

root = true

[*.{md,adoc,js,json}]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab